body{
    background-color: #b8e994;
}
#headersection{
    padding: 10px;
}

#headersection h1{
    font-family: cursive;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn{
    padding: 5px;
    border-radius: 5px;
    background-color: #48dbfb;
    color: white;
    font-size: 15px;
}